In [1]:
import pandas as pd
import numpy as np

In [2]:
iris_data: pd.DataFrame = pd.read_csv(
	"iris.csv",
	na_values={"NA", "-", "n/a", "na"},
	dtype={
		"sepallength": np.float64,
		"sepalwidth": np.float64,
		"petallength": np.float64,
		"petalwidth": np.float64,
		"class": pd.CategoricalDtype(categories=["setosa", "versicolor", "virginica"]),
	}
)
measurements_columns_names: list[str] = ["sepallength", "sepalwidth", "petallength", "petalwidth"]
iris_data

     sepallength  sepalwidth  petallength  petalwidth      class
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [4]:
from sklearn.preprocessing import StandardScaler
standardized_iris_data: pd.DataFrame = iris_data.copy()
scaler: StandardScaler = StandardScaler()
for columnName in measurements_columns_names:
	standardized_iris_data[columnName] = scaler.fit_transform(iris_data[columnName].values.reshape(-1, 1))

standardized_iris_data

     sepallength  sepalwidth  petallength  petalwidth      class
0      -0.900681    1.032057    -1.341272   -1.312977     setosa
1      -1.143017   -0.124958    -1.341272   -1.312977     setosa
2      -1.385353    0.337848    -1.398138   -1.312977     setosa
3      -1.506521    0.106445    -1.284407   -1.312977     setosa
4      -1.021849    1.263460    -1.341272   -1.312977     setosa
..           ...         ...          ...         ...        ...
145     1.038005   -0.124958     0.819624    1.447956  virginica
146     0.553333   -1.281972     0.705893    0.922064  virginica
147     0.795669   -0.124958     0.819624    1.053537  virginica
148     0.432165    0.800654     0.933356    1.447956  virginica
149     0.068662   -0.124958     0.762759    0.790591  virginica

[150 rows x 5 columns]