In [81]:
import pandas as pd
import numpy as np

In [94]:
irisData: pd.DataFrame = pd.read_csv(
	"iris_with_errors.csv",
	na_values={"NA", "-", "n/a", "na"},
	dtype={
		"sepal.length": np.float64,
		"sepal.width": np.float64,
		"petal.length": np.float64,
		"petal.width": np.float64,
		# "variety": pd.CategoricalDtype(categories=["Setosa", "Versicolor", "Virginica"]),
		"variety": str,
	}
)
irisData

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4          15.6          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [95]:
for column in irisData.columns:
	print(column, irisData.dtypes[column], irisData[column].unique())

sepal.length float64 [ 5.1  4.9  4.7  4.6  5.   5.4  4.4  4.8  4.3  5.8  5.7  5.2  5.5 30.9
  4.5  5.3  7.   6.4  6.9  6.5  6.3  6.6  5.9  6.   6.1  5.6  6.7  6.2
  6.8  7.1  nan  7.6  7.3  7.2  0.   7.7  7.4  7.9]
sepal.width float64 [ 3.5  3.   3.2  3.1  3.6  3.9  3.4  2.9  3.7  4.   4.4  3.8  3.3  4.1
  4.2  2.3 -1.   2.8  2.4  2.7  2.   2.2  2.5  2.6 -2.7  nan]
petal.length float64 [ 1.4  1.3  1.5  1.7  1.6  1.1  1.2  1.   1.9  4.7  4.5  4.9  4.   4.6
  3.3  3.9  3.5  4.2  3.6  4.4  4.1  4.8  nan  4.3  5.   3.8  3.7  5.1
  3.   6.   5.9  5.6  5.8  6.6  6.3  6.1  5.3  5.5 13.1  6.7  6.9  5.7
  6.4 -6.1  5.4  5.2 15.6]
petal.width float64 [0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3 nan]
variety object ['Setosa' 'setosa' 'Versicolor' 'Versicolour' 'VersiColor' 'Virginica'
 'virginica']

In [96]:
irisData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  148 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  149 non-null    float64
 3   petal.width   149 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB