In [1]:
import pandas as pd
import numpy as np

In [2]:
rawIrisData: pd.DataFrame = pd.read_csv(
	"iris_with_errors.csv",
	na_values={"NA", "-", "n/a", "na"},
	dtype={
		"sepal.length": np.float64,
		"sepal.width": np.float64,
		"petal.length": np.float64,
		"petal.width": np.float64,
		# "variety": pd.CategoricalDtype(categories=["Setosa", "Versicolor", "Virginica"]),
		"variety": str,
	}
)
rawIrisData

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4          15.6          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [7]:
valid_varietes: set[str] = {"Setosa", "Versicolor", "Virginica"}
def get_invalid_varieties(data: pd.DataFrame) -> set[str]:
	return {
		variety for variety in data["variety"].unique() if not variety in valid_varietes
	}
	
print(get_invalid_varieties(rawIrisData))

{'virginica', 'VersiColor', 'setosa', 'Versicolour'}

In [9]:
def fix_variety(variety: str) -> str:
	loweredcase_variety: str = variety.lower()
	if loweredcase_variety == "versicolour":
		loweredcase_variety = "versicolor"
	firstlettercapitilized_variety: str = loweredcase_variety[0].upper() + loweredcase_variety[1:]
	if firstlettercapitilized_variety not in valid_varietes:
		raise ValueError(f"Unknown variety: {variety}")
	return firstlettercapitilized_variety

irisData: pd.DataFrame = rawIrisData.copy()

irisData["variety"] = irisData["variety"].apply(fix_variety)
print(get_invalid_varieties(irisData))

set()